<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Email Styling</title>
</head>
<body>
<div class="container">
  <p class="message">Someone (hopefully you) has changed the password for the account associated with this email address.</p>
</div>
</body>
</html>
